<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <title>@ViewBag.Title</title>
    <link href="~/LayoutMau/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/LayoutMau/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/LayoutMau/css/font-awesome.css" rel="stylesheet">
    
</head>
<body>
    <!-- header -->
    <div class="agileits_header">
        <div class="container">
            <div class="w3l_offers">
                <p>Giảm giá tới 49%. <a asp-action="List" asp-controller="HangHoa">Mua ngay</a></p>
            </div>
            <div class="agile-login">
                <ul>
                    <li><a asp-action="Register" asp-controller="KhachHang">Đăng ký</a></li>
                    @using QLBH.MyModels
                    @{
                        var mkh = ViewBag.xxxyyy;
                        if (mkh != null)
                        {
                            <li><a asp-action="Logout" asp-controller="KhachHang">Đăng xuất</a></li>
                        }
                        else
                        {
                            <li><a asp-action="index" asp-controller="Login">Đăng nhập</a></li>
                        }
                    }

                    <li><a asp-action="ForgotPassword" asp-controller="KhachHang">Quên mật khẩu</a></li>
                    <li><a asp-action="Contact" asp-controller="Home">Liên hệ</a></li>
                    <li><a asp-action="Profile" asp-controller="KhachHang">Trang cá nhân</a></li>

                </ul>
            </div>
            <div class="product_list_header">
                <form asp-action="Index" asp-controller="Cart" method="post" class="last">
                    <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="logo_products">
        <div class="container">
            <div class="w3ls_logo_products_left1">
                <ul class="phone_email">
                    <li><i class="fa fa-phone" aria-hidden="true"></i>Mua hàng online: (+0123) 456 789</li>
                </ul>
            </div>
            <div class="w3ls_logo_products_left">
                <h1><a asp-controller="HangHoa" asp-action="List">super Market</a></h1>
            </div>
            <div class="w3l_search">
                <form asp-action="Search" asp-controller="HangHoa">
                    <input type="search" name="Search" placeholder="Mua gì hôm nay?" required="">
                    <button type="submit" class="btn btn-default search" aria-label="Left Align">
                        <i class="fa fa-search" aria-hidden="true"> </i>
                    </button>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- navigation -->
    @using QLBH.Models
    @{
        var db = new MyeStoreContext();
        var dsLoai = db.Loai.ToList();
    }
    @Html.Partial("_NavigationMenu", dsLoai)
    <!-- //navigation -->
    @RenderSection("breadcrumbs", required: false)
    <div class="products">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("_Livechatsupport")
    <!-- //footer -->
    @Html.Partial("_Footer", dsLoai.Where(p => p.Hinh == "0"))
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/LayoutMau/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
