@model IEnumerable<QLBH.MyModels.CartItem>

@{
    ViewData["Title"] = "Danh sách";
    Layout = "~/Views/Shared/_LayoutTongQuat.cshtml";
}

<h2>Giỏ hàng</h2>
@*<form method="post" action="@ViewBag.payPalConfig.PostUrl">
    <!-- PayPal Setting -->
    <input type="hidden" name="upload" value="1" />
    <input type="hidden" name="return" value="@ViewBag.payPalConfig.ReturnUrl" />
    <input type="hidden" name="cmd" value="_cart" />
    <input type="hidden" name="business" value="@ViewBag.payPalConfig.Business" />*@
    <!-- Products List -->
    <table class="table">
        <thead>
            <tr>
                <th>
                    Mã SP
                </th>
                <th>
                    Tên hàng hóa
                </th>
                <th>
                    Ảnh hàng hóa
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Đơn giá
                </th>
                <th>
                    Chức năng
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) { <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.hangHoa.MaHh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hangHoa.TenHh)
                    </td>
                    <td>
                        <img src="~/Hinh/HangHoa/@item.hangHoa.Hinh" height="80" />
                    </td>
                    <th class="text-center">
                        <input type="number" value="@item.soLuong" min="0" class="cartItem" data-mahh="@item.hangHoa.MaHh" data-giamgia="@item.hangHoa.GiamGia"
                               data-dongia="@item.hangHoa.DonGia" />
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.donGia)
                    </td>
                    <th class="text-right">
                        <span id="thanhtien@(item.hangHoa.MaHh)">@Html.FormatValue(item.soLuong * item.hangHoa.DonGia * (1 - item.hangHoa.GiamGia), "{0:#,##0}")</span>đ
                    </th>
                    <td></td>
                </tr>
            }

        </tbody>
    </table>
    @*<input type="image" src="https://www.paypal.com/en_Us/i/btn/btn_xpressCheckout.gif" />*@
@*</form>*@
<form method="post" action="@ViewBag.payPalConfig.PostUrl">
    <!-- PayPal Setting -->
    <input type="hidden" name="upload" value="1" />
    <input type="hidden" name="return" value="@ViewBag.payPalConfig.ReturnUrl" />
    <input type="hidden" name="cmd" value="_cart" />
    <input type="hidden" name="business" value="@ViewBag.payPalConfig.Business" />
    <!-- Products List -->
    @{
        var index = 1;
    }
    @foreach (var product in ViewBag.products)
    {
        <input type="hidden" name="item_number_@index" value="@product.Id" />
        <input type="hidden" name="item_name_@index" value="@product.Name" />
        <input type="hidden" name="amount_@index" value="@product.Price" />
        <input type="hidden" name="quantity_@index" value="@product.Quantity" />
        index++;
    }

<input type="image" src="https://www.paypal.com/en_Us/i/btn/btn_xpressCheckout.gif" />

</form>
    <h4 class="text-success text-right">Tổng tiền: <span id="totalAmount">@Html.FormatValue(Model.Sum(item => item.soLuong * item.hangHoa.DonGia * (1 - item.hangHoa.GiamGia)), "{0:#,##0}")</span> đ</h4>

    <div>

        <button id="btnUpdateCart" asp-action="UpdateCart" asp-controller="CartItem">Cập nhật giỏ hàng</button>
        <button asp-action="Clear" asp-controller="CartItem">Xóa giỏ hàng</button>
        <button asp-action="Index" asp-controller="Home">Về trang chủ</button>
    </div>

@section Scripts{
    <script>
        $(function () {
            $(".cartItem").change(function () {
                var tong = $(this).val() * $(this).attr("data-dongia") * (1 - $(this).attr("data-giamgia"));
                $("#thanhtien" + $(this).attr("data-mahh")).html(tong.toLocaleString('en'));
            });

            $("#btnUpdateCart").click(function () {
                var hanghoa = new Array();
                var soluong = new Array();
                $(".cartItem").each(function () {
                    soluong.push($(this).val());
                    hanghoa.push($(this).attr("data-mahh"));
                });
                console.log(hanghoa);
                console.log(soluong);
                //gửi dữ liệu lên controller Cart để xử lý
                $.ajax({
                    url: "CartItem/UpdateCart",
                    type: "post",
                    dataTye: "json",
                    contextType: "application/json",
                    data: {
                        productList: hanghoa,
                        amountList: soluong
                    },
                    success: function (result) {
                        console.log(result);
                        $("#totalAmount").html(result.tongTien.toLocaleString('en'));
                    },
                    error: function (data) {
                        alert(data);
                    }
                });
            });
        });</script>
}
